<!-- <div class="sidebar">
    <a href="#rt">Research Topics</a>
    <a href="#pro">Projects</a>
    <a href="#pub">Publications</a>
    <a href="#td">Teaching Duties</a>
    <a href="#edu">Education</a>
</div> -->

<ul style="width: 200px; justify-content: center; border: 1px solid #cccccc; padding: 10px; text-align: center; list-style-type: none;">
  <li><a href="#rt">Research Topics</a></li>
  <li><a href="#pro">Projects</a></li>
  <li><a href="#pub">Publications</a></li>
  <li><a href="#td">Teaching Duties</a></li>
  <li><a href="#edu">Education</a></li>
</ul>

<!-- Add vertical space -->
<div class="spacer"></div>
